.popup-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: .6;
}

.popup{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 90vw;
    top: 190px;
    left: 50%;
    margin-left: -45vw;
    background-image: url("../../../assets/img/pexels-pixabay-235985.jpg");
    z-index: 1000;
}

.popup__character-img-container{
    width: 40%;
    max-width: 300px;
    display: flex;
    padding: 1rem;
}

.popup__character-img-container img{
    width: 100%;
}

.popup__info-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
}

.popup__X{
    position: absolute;
    right: 13px;
    top: 5px;
    font-size: 2rem;
    font-weight: 800;
    cursor: pointer;
}

@media (max-width: 650px) {

    .popup{
        flex-direction: column;
    }
    
}