.popup-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 90vw;
    top: 35%;
    left: 50%;
    margin-left: -45vw;
    background-image: url("../../../assets/img/pexels-pixabay-235985.jpg");
    z-index: 1000;
}

.popup__info-container{
    display: contents;
    position: relative;
    width: 100%;
}

.popup__X{
    position: absolute;
    right: 13px;
    top: 5px;
    font-size: 2rem;
    font-weight: 800;
    cursor: pointer;
}